$fontColor: #ebebeb;
$headingFont: 'Manrope', 'Segoe UI', 'Arial', sans-serif;
$bodyFont: 'SF Pro', 'Georgia', 'Segoe UI', 'Arial', sans-serif;
$bg: #262626;
$bodyLeftRightMargin: 20px;
$bodyTopMargin: -10px;
$veryLightGrey: #dbdbdb;


/* Manrope Font */
// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
// I moved this to the <app.html> file because i think @import is being deprecated
// and i dont wanna figure out an alternative

/* SF Pro Font */
@font-face {
    font-family: "SF Pro";
    src:
        local("SF Pro"),
        url("/appleFonts/SF-Pro.woff2") format("woff2"),
        url("/appleFonts/SF-Pro.ttf") format("truetype"),
}

#sveltekit-body {
    margin-left: $bodyLeftRightMargin !important;
    margin-right: $bodyLeftRightMargin !important;
    margin-top: $bodyTopMargin !important;
}

label {
    display: inline-block !important;
    font-family: $bodyFont;
    color: $fontColor;
}

option {
    font-family: $bodyFont;
}

// input[type="text"] {
//     padding: 10px;
//     border: 1px solid $veryLightGrey;
//     border-radius: 5px;
//     width: 666px;
//     box-sizing: border-box;
//     font-family: $bodyFont;
//     background-color: black;
//     color: $fontColor;
// }

input[type="text"] {
    padding: 10px;
    border: 1px solid $veryLightGrey;
    border-radius: 5px;
    width: 666px;
    box-sizing: border-box;
    font-family: $bodyFont;
    background-color: black;
    color: $fontColor;

    &:focus {
        outline: none;
        border-color: lighten($veryLightGrey, 10%);
    }
}

button {
    font-family: $bodyFont;
    background-color: $bg;
    border: 0;
    color: $fontColor;
    border-radius: 0.5em;
    font-size: 1.35rem; // im such a css noob idek what rem or em is, but if it works it works
    padding: 0.375em 1em;
    font-weight: 600;
    transition: 0.2s ease;
    box-shadow: 0 0 0.6em rgba(235, 235, 235, 1);
    cursor: pointer;

    &:hover {
        translate: 0 0.125em;
        box-shadow: 0 0 0.3em rgba(141, 141, 141, 1);
        color: $veryLightGrey;
    }
}

#input-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;

    button {
        width: 20%;
        margin-left: auto;
        margin-top: 20px;
        margin-right: auto;
    }


    label {
        margin-bottom: 5px;
        text-align: left;
    }
}