/* vars */
$fontColor: #ebebeb;
$headingFont: 'Manrope', 'Segoe UI', 'Arial', sans-serif;
$bodyFont: 'SF Pro', 'Georgia', 'Segoe UI', 'Arial', sans-serif;
$bg: #262626;
$bodyLeftRightMargin: 20px;
$bodyTopMargin: -10px;
$veryLightGrey: #dbdbdb