@import '/static/styles/vars.scss';

.result-item {
    font-family: $bodyFont;
    color: $text;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    gap: 1rem;
}

.thumbnail {
    width: 225px;
    height: 225px;
    object-fit: contain;
}

.bid-link {
    text-decoration: underline;
    color: $text;

    &:visited {
        color: $text;
    }
    
    &:hover {
        color: $primary;
        cursor: pointer;
    }
}

.content {
    flex: 1;
}

.title-link {
    color: $primary;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        // color: $text // this looked weird so i commented out
    }
}

.result-item {
    font-family: $bodyFont;
    color: $text;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid color.adjust($veryLightGrey, $blackness: 7.5%);
    border-radius: 4px;
    display: flex;
    gap: 1rem;
}

#searchresults-title-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr;
    padding: 10px 10px 10px 10px;
    
    a {
        justify-self: start;
        align-self: start;
        color: black;
        &:hover, &:active, &:visited {
            color: black;
        }
    }

    div { // home button
        &:hover {
            cursor: pointer;
        }
    }
    // Styles for the title set with the custom "inlinestyle" prop
}

.fa-house-chimney {
    font-size: 3rem;
}

@media (min-width: $breakpoint) { // Desktop styles 
    // Sidebar
    #main-flexbox {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: stretch;
        align-content: stretch;
        gap: 5px;

        #sidebar {
            align-self: auto;
            width: 275px;
            min-width: 275px;
            height: auto;
            padding-left: 25px;
            padding-right: 25px;

            h1 {
                font-family: $headingFont;
                font-size: 2.5rem;
                text-align: center;
                margin-top: 0.125rem;
                border-bottom: 0.125rem solid color.adjust($veryLightGrey, $blackness: 20%);
            }
        }

        #results-container {
            flex-grow: 1;
            flex-shrink: 1;
            align-self: auto;
            width: auto;
            height: auto;
        }
    }


    // SEARCH BUTTON
    .search-row {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        grid-column: 2;
        grid-row: 2;
    }

    $transitionDuration: 0.2s;
    #search {
        flex: 1;
        align-self: center;
        padding: 10px;
        border: 2px solid rgba($text, 0.6);
        border-radius: 0.75rem;
        width: 666px;
        height: 40px;
        box-sizing: border-box;
        background-color: white;
        color: $text;
    
        outline: none;
        transition: box-shadow $transitionDuration, border $transitionDuration;
        transition-timing-function: ease-in;
        
        &:focus {
            outline: none;
            border: 2px solid rgba($text, 1);
            box-shadow: 0 0 50px color.adjust($secondary, $lightness: 15%);
            transition: box-shadow $transitionDuration, border $transitionDuration;
            transition-timing-function: ease-in;
        }

        i {
            align-self: center;
        }
    }

    .searchbutton {
        align-self: stretch;
        white-space: nowrap;
        outline: none;
        border: none;
        font-family: $bodyFont;
        background-color: $primary;
        color: $background;
        // padding: 10px 20px;
        // margin: 20px auto 0px;
        // padding: 0 20px;
        margin: 0;
        font-size: 1.35rem;
        width: 120px;
        height: 40px;
        border-radius: 0.75rem;
        transition: background-color 0.25s ease, color 0.25s ease, border 0.25s ease;
    
        &:hover {
            background-color: $secondary;
            color: $text;
            cursor: pointer;
            border: 2px solid rgba($text, 1);
        }
    }


}

@media (max-width: #{$breakpoint - 1}) { // Mobile styles

}